@use "reset.scss" as *;
@use "variables/global.scss" as *;
@use "themes/normal.scss" as *;
@use "themes/dark.scss" as *;

body {
  font: var(--font-main);
  color: var(--primary1-color);
}

.app {
  background: var(--bg2-color);
  min-height: 100vh;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */ /* Safari */ /* Konqueror HTML */ /* Firefox */ /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.content-page {
  display: flex; 
  justify-content: center; 
  flex-direction: column; 
  align-items: center;
  background: #fff;
  overflow: hidden;
}