:root {
    // Основной шрифт
    --font-family-main: lab grotesque, "Times New Roman", serif;
    
    // Размер шрифта L
    --font-size-l: 24px;
    --font-line-l: 32px;
    --font-weight-l: 600;
    --font-l: var(--font-weight-l) var(--font-size-l) / var(--font-line-l) var(--font-family-main);

    // Размер шрифта Article
    --font-size-article: 16px;
    --font-line-article: 20px;
    --font-weight-article: 500;
    --font-article: var(--font-weight-article) var(--font-size-article) / var(--font-line-article) var(--font-family-main);

    // Размер шрифта Main
    --font-size-main: 14px;
    --font-line-main: 20px;
    --font-weight-main: 500;
    --font-main: var(--font-weight-main) var(--font-size-main) / var(--font-line-main) var(--font-family-main);

    // Размер шрифта Secondary
    --font-size-secondary: 14px;
    --font-line-secondary: 20px;
    --font-weight-secondary: 400;
    --font-secondary: var(--font-weight-secondary) var(--font-size-secondary) / var(--font-line-secondary) var(--font-family-main);

    // Размер шрифта Light
    --font-size-light: 14px;
    --font-line-light: 20px;
    --font-weight-light: 300;
    --font-light: var(--font-weight-light) var(--font-size-light) / var(--font-line-light) var(--font-family-main);

    // Размер шрифта Description
    --font-size-description: 12px;
    --font-line-description: 16px;
    --font-weight-description: 400;
    --font-description: var(--font-weight-description) var(--font-size-description) / var(--font-line-description) var(--font-family-main);

    // Размер шрифта Description-Header
    --font-size-description-header: 12px;
    --font-line-description-header: 16px;
    --font-weight-description-header: 500;
    --font-description-header: var(--font-weight-description-header) var(--font-size-description-header) / var(--font-line-description-header) var(--font-family-main);

    // Размеры
    --navbar-height: 84px;
    --navbar-height-percent: 18%;
    --panel-min-width: 240px;
    --panel-max-width: 360px;
    --panel-width-percent: 20%;

    // Цвет
    --white: #fff;
    --black: #000;
    --overlay-color: rgba(0, 0, 0, 0.5);

    // Округление
    --corner-radius-2: 6px;

    // Границы
    --border: 1px solid #C3C3D0;

    // z - Индексы
    --modal-z-index: 10;
}

