.SelectorItem {
    font: var(--font-description);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: var(--box-shadow);
    background: var(--white, #fff);
    color: var(--highlights1-color, #262626);
    flex-shrink: 0;
    border: none;
    outline: none;

    &__iconTop {
        display: flex;
        justify-content: center;
        align-items: center;

        &_small {
            margin-bottom: 4px;
            width: 20px;
            height: 20px;
        }

        &_medium {
            margin-bottom: 6px;
            width: 24px;
            height: 24px;
        }
    }

    &:hover {
        background: var(--hover, rgba(0, 0, 0, 0.06));

        &:not(:first-child) {
            box-shadow: 0px -1px 0px 0px var(--outline-color, #C3C3D0), 1px 1px 0px 0px var(--outline-color, #C3C3D0);
        }
    }

    &:focus {
        position: relative;
        box-shadow: var(--box-shadow-bold);

        &::after {
            content: '';
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            border: var(--border);
        }
    }

    &:active {
        background: var(--pressed, rgba(0, 0, 0, 0.12));

        &:focus {
            box-shadow: var(--box-shadow);

            &::after {
                content: '';
                position: absolute;
                top: 0px;
                left: 0px;
                width: 0px;
                height: 0px;
                border: none;
            }
        }
    }

    &:disabled {
        background: var(--bg2-color, #F8F8FB);
        color: var(--weak1-color, #BDBDBD);
        box-shadow: var(--box-shadow);
    }
    
    &:first-of-type {
        border-radius: var(--corner-radius-2, 6px) 0 0 var(--corner-radius-2, 6px);
    }

    &:last-of-type {
        border-radius: 0 var(--corner-radius-2, 6px) var(--corner-radius-2, 6px) 0;
    }

    &:only-of-type {
        border-radius: var(--corner-radius-2, 6px);
    }
}

.small {
    padding: 8px 10px;
}

.medium {
    padding: 10px 14px;
}

.small-without-icon {
    height: 32px;
}

.medium-without-icon {
    height: 40px;
}

.link {
    box-shadow: none;
    background: none;

    &:hover {
        box-shadow: none;
    }

    &:focus {
        box-shadow: none;
    }

    &:active {
        box-shadow: none;

        &:focus {
            box-shadow: none;
        }
    }

    &:disabled {
        box-shadow: none;
        background: none;
    }
}

.fill {
    box-shadow: none;

    &:hover {
        box-shadow: none;
    }

    &:focus {
        box-shadow: none;
    }

    &:active {
        box-shadow: none;

        &:focus {
            box-shadow: none;
        }
    }

    &:disabled {
        box-shadow: none;
    }
}
