.DropdownPanel {
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    background-color: var(--bg1-color);
    position: relative;

    &_compact {
        position: absolute;
        left: 0;
        top: 0;
        z-index: var(--figures-z-index);
        padding: 0;
        border-radius: var(--corner-radius-2, 6px);
        background-color: var(--bg2-color);
    }

    &__content {
        background-color: var(--bg1-color);

        &_compact {
            border-radius: var(--corner-radius-2, 6px);
        }
    }

    &__header {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;
        padding-left: 14px;
        z-index: var(--dropdown-z-index);
        margin-bottom: 12px;

        &_compact {
            height: 40px;
            margin: 0;
        }

        &_second {
            justify-content: left;
        }

        &_border {
            border-bottom: var(--outline);
        }
    }

    &__floors {
        padding: 12px;
        border-bottom: var(--outline);
    }

    &__layers {
        padding: 12px;
    }

    &__shrinkArea {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 46px;
        height: 40px;
    }

    &__arrowDown,
    &__arrowDownMini {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;

        &Mini {
            width: 14px;
            height: 14px;
        }
    }

    &__title {
        font: var(--font-main);
        color: var(--highlights1-color);
    }
}

.Resizer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 5px;
    cursor: ew-resize;
    background-color: transparent;
    z-index: 10;
}

.default {
    transform: rotate(0);
    transition: 0.3s transform !important;
}

.rotated {
    transform: rotate(-0.25turn);
    transition: 0.3s transform !important;
}