.AuthPage {
    min-height: 100vh;
    background: var(--bg3-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Logo {
    margin-bottom: 48px;
}