.SettingsCanvas {
    &__header {
        height: 26px;
    }

    &__title {
        font: var(--font-description-header);
        color: var(--highlights1-color);
    }

    &__content {
        max-height: 245px;
    }

    &__input {
        width: 28px;
        height: 28px;
        font: var(--font-description);
        color: var(--highlights1-color);
        &::placeholder{
            color: var(--highlights2-color);
        }
    }
}

.Section {
    &__header {
        display: flex;
        align-items: center;   
        justify-content: space-between;
    }

    &__title {
        font: var(--font-description);
        color: var(--highlights1-color);
    }
}

.Plus {
    cursor: pointer;
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}