.LayersItems {
    overflow: auto;
    max-height: 758px;

    &__item {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: left;
        border-radius: 6px;
        padding: 8px 10px 8px 32px;
        margin-bottom: 6px;

        &_active {
            background-color: var(--white);
        }

        &:hover {
            background-color: var(--hover-dark);
        }
    }

    li:last-of-type {
        margin-bottom: 0;
    }

    &__title {
        font: var(--font-description);
        color: var(--highlights1-color);
    }

    &__leftIcon {
        width: 14px;
        height: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 4px;
    }

    @media (height <= 1079px) {
        max-height: 390px;
    }
}

.selected {
    background-color: var(--bg2-color);
}