
.Layers {
    min-height: 26px;

    &__dropdown {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: left;
        z-index: var(--dropdown-z-index);
    }

    &__header {
        display: flex;
        align-items: center;
    }

    &__title {
        font: var(--font-description-header);
        color: var(--highlights1-color);
    }

    &__leftIcon {
        cursor: pointer;
        width: 26px;
        height: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__icon {
        &_arrowDownMini {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 14px;
            height: 14px;
        }
    }
}

.default {
    transform: rotate(0);
    transition: 0.3s transform !important;
}

.rotated {
    transform: rotate(-0.25turn);
    transition: 0.3s transform !important;
}
