@import "reset.scss";
@import "variables/global.scss";
@import "themes/normal.scss";
@import "themes/dark.scss";

.app {
  font: var(--font-main);

  background: var(--bg1-color);
  color: var(--primary1-color);
  min-height: 100vh;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}