.Information {
    &__header {
        height: 26px;
    }

    &__button {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font: var(--font-description-header);
        color: var(--highlights1-color);
    }

    &__synonyms, 
    &__description {
        height: 87px;
    }
}

.Section {
    &__title {
        font: var(--font-description);
        color: var(--highlights1-color);
    }
}