.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--bg2-color);
    padding: 16px;
    outline: var(--outline);
    outline-offset: var(--outline-offset, -2px);

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
}

.registerLink {
    margin-right: 10px;
}

.links {
    display: flex;
    margin-left: auto;
}

.mainLink {
    margin-right: 24px;
}

.mainLink,
.aboutLink {
    color: var(--weak1-color);
    font: var(--font-secondary);
    text-decoration: none;

    &:hover {
        color: var(--highlights1-color);
    }
}

.Logo {
    margin-right: auto;
}