.InfoPanel {
    display: flex;
    flex-direction: column;
    background-color: var(--bg1-color);
    outline: var(--outline);
    outline-offset: var(--outline-offset, -2px);

    &__save {
        padding: 12px;
        border-bottom: var(--outline);
    }

    &__information {
        padding: 12px;
        border-bottom: var(--outline);
    }

    &__settingsCanvas {
        padding: 12px;
        border-bottom: var(--outline);
    }
}