.ButtonText {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    outline: var(--outline);
    outline-offset: var(--outline-offset, -2px);
    border-radius: var(--corner-radius-2, 6px);
    background: var(--white, #fff);
    color: var(--highlights1-color, #262626);
    flex-shrink: 0;
    border: none;

    &__text {
        // min-width: 100px;
        text-align: left;

        &.inverted {
            color: var(--bg1-color);
        }
    }

    .danger {
        &__text {
             color: var(--red-dark);
        }
    }

    &.centered {
        justify-content: center;

        &__text {
            text-align: center;
        }
    }

    &__leftIcon {
        margin-right: 4px;

        &_medium {
            margin-right: 6px;
        }
    }

    &__rightIcon {
        margin-left: 4px;

        &.iconRightStickedToTheEnd {
            margin-left: auto;
        }

        &_medium {
            margin-left: 36px;

            &.iconRightStickedToTheEnd {
                margin-left: auto;
            }
        }
    }   

    &__leftIcon,
    &__rightIcon {
        display: flex;
        width: 14px;
        height: 14px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;

        &_medium {
            flex-shrink: 0;
            width: 20px;
            height: 20px;
        }
    }

    &:hover {
        background: var(--hover, rgb(0 0 0 / 6%));
    }

    &:focus {
        outline: var(--outline-bold);
    }

    &:active {
        background: var(--pressed, rgb(0 0 0 / 12%));

        &:focus {
            outline: var(--outline);
        }
    }

    &:disabled {
        background: var(--bg2-color, #F8F8FB);
        color: var(--weak1-color, #BDBDBD);
        outline: var(--outline);
        cursor: default;
    }
}

.small {
    height: 32px;
    padding: 8px 12px;
    font: var(--font-small);
}

.medium {
    height: 40px;
    padding: 10px 14px;
    font: var(--font-secondary);
}

.link {
    outline: none;
    background: none;

    &:hover {
        outline: none;
    }

    &:focus {
        outline: none;
    }

    &:active {
        outline: none;

        &:focus {
            outline: none;
        }
    }

    &:disabled {
        outline: none;
        background: none;
        cursor: default;
    }
}

.fill {
    outline: none;

    &:hover {
        outline: none;
    }

    &:focus {
        outline: none;
    }

    &:active {
        outline: none;

        &:focus {
            outline: none;
        }
    }

    &:disabled {
        outline: none;
        cursor: default;
    }
}

.bold {
    font-weight: 700;
}

.inverted {
    background-color: var(--blue-dark);
    color: var(--white);

    &:hover {
        background-color: var(--blue-darker);
        color: var(--white);
    }

    &:active {
        background-color: var(--blue-darkest);
        color: var(--white);
    }

    &:disabled {
        background-color: var(--gray-light);
        color: var(--weak1-color, #BDBDBD);
    }
}