.MainPage {
  min-height: 100vh;
  background: var(--bg2-color);
  padding: 0 30px 16px;

  &__navbar {
    margin-bottom: 16px;
  }

  &__breadcrumbs {
    margin-bottom: 8px;
  }
  
  &__building_header {
    margin-bottom: 8px;
  }
}